<!DOCTYPE html>
<html>
<head>
  <title>Unturned Server Control</title>
</head>
<body>
  <h1>Unturned Server Control</h1>
  <button id="start-button">Start</button>
  <button id="stop-button">Stop</button>
  <button id="restart-button">Restart</button>
  <br>
  <textarea id="console" rows="50" cols="200" readonly> {{ logs }} </textarea>
  <br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script>
    $(document).ready(function() {
      // Set up websocket connection
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      // Set up button event handlers
      $('#start-button').click(function() {
        socket.emit('start');
      });
      $('#stop-button').click(function() {
        socket.emit('stop');
      });
      $('#restart-button').click(function() {
        socket.emit('restart');
      });

      // Listen for updates
      socket.on('update', function(data) {
        $('#console').val(data.logs);
        $('#console').scrollTop($('#console')[0].scrollHeight);
      });
    });
  </script>
</body>
</html>
