<!DOCTYPE html>
<html>
<head>
  <title>Unturned Server Control</title>
</head>
<body>
  <h1>Unturned Server Control</h1>
  <button id="start-button">Start</button>
  <button id="stop-button">Stop</button>
  <button id="restart-button">Restart</button>
  <br>
    {% include "logs.html" %}
    {% block content %}{% endblock %}
    {{ turbo() }}
  <br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script type=text/javascript>

        $(function() {
          $('#start-button').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/start_server',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
      var console = $('#load');
      console.scrollTop(console[0].scrollHeight - console.height());
</script>
</body>
</html>
